<div >
    <h1 class="title">Contact</h1>

    <p>Drop me a message (if applicable)!</p>

    <br/>

    <table width=100%>
        <tr>
            <td><a href="http://www.karlcui.com/" target="_blank">Website</a></td>
            <td><a href="https://github.com/Karl-Cui" target="_blank">GitHub</a></td>
            <td><a href="https://www.linkedin.com/in/karl-cui/" target="_blank">LinkedIn</a></td>
            <td><a href="https://lichess.org/@/pattrik" target="_blank">Lichess</a></td>
        </tr>
    </table>
</div>
