<div>
    <h1 class="title">About me</h1>
    <p>I'm a Canadian software engineer who likes to build cool things. I drink a lot of coffee, play chess, and enjoy memes in my free time.</p>
</div>

<br/>

<div>
    <h1 class="title">Projects</h1>

    <div class="project">
        <p class="project-title"><a href="https://github.com/neurotechuoft/Neurostack" target="_blank">Neurostack</a></p>
        <p>Streaming brain waves to machine learning services, made easy. Check out the GitHub for more info on its API and how to use.</p>
    </div>

    <br/>

    <div class="project">
        <p class="project-title"><a href="https://github.com/neurotechuoft/MindType" target="_blank">MindType</a></p>
        <p>"How cool would it be to type without a keyboard?"</p>
        <p>"That'd be cool."</p>
        <p>So we made a mind-controlled keyboard. To determine which key the user wants to type, we flash keys on a keyboard and see which ones correspond to a P300 ERP.</p>
    </div>

</div>

<br/>
