/* Header nav bar */
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

/* float items in bar left or right */
.items-left {
    float: left;
}

.items-right {
    float:right
}

/* Items inside the header */
li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;

    font-family: "Verdana";
}

/* On hover */
li a:hover {
    color: black;
}
